@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #09090b;
  --background: #fafafa;
  --alternate-text: #09090b99;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #fafafa;
    --background: #09090b;
    --alternate-text: #fafafa99;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
