@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  border-color: hsl(var(--border));
}

body {
  background-color: hsl(
    var(--background)
  );
  font-synthesis-weight: none;
  text-rendering: optimizeLegibility;
  margin: 0;
  line-height: inherit;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;
  --card: 0 0% 100%;
  --card-foreground: 240 10% 3.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 240 10% 3.9%;
  --primary: 240 5.9% 10%;
  --primary-foreground: 0 0% 98%;
  --secondary: 240 4.8% 95.9%;
  --secondary-foreground: 240 5.9% 10%;
  --muted: 240 4.8% 95.9%;
  --muted-foreground: 240 3.8% 46.1%;
  --accent: 240 4.8% 95.9%;
  --accent-foreground: 240 5.9% 10%;
  --destructive: 0 72.22% 50.59%;
  --destructive-foreground: 0 0% 98%;
  --border: 240 5.9% 90%;
  --input: 240 5.9% 90%;
  --ring: 240 5% 64.9%;
  --radius: 0.5rem;
}

.bg-background\/[x] {
  background-color: hsl(
    var(--background) / (x/100)
  );
}

.bg-background {
  background-color: hsl(
    var(--background)
  );
}

.bg-muted {
  background-color: hsl(var(--muted));
}

.bg-primary {
  background-color: hsl(var(--primary));
}
.text-primary-foreground {
  color: hsl(var(--primary-foreground));
}

.hover\:bg-accent:hover {
  background-color: hsl(var(--accent));
}

.hover\:text-accent-foreground:hover {
  color: hsl(var(--accent-foreground));
}

.hover\:bg-primary\/90:hover {
  background-color: hsl(
    var(--primary) / 0.9
  );
}

.hover\:text-foreground\/80:hover {
  color: hsl(var(--foreground)) / 0.8;
}

.text-foreground\/60 {
  color: hsl(var(--foreground) / 0.6);
}

.text-muted-foreground {
  color: hsl(var(--muted-foreground));
}
.text-primary {
  color: hsl(var(--primary));
}
.hover\:text-primary:hover{
  color:hsl(var(--primary));
}
.bg-muted{
  background-color:hsl(var(--muted));
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
